/*Author:AndresBotello*/
body {
    font-family: 'Calisto MT';
    color: #632423;
    margin: 0;
}
footer {
    margin-top: 50px;
}
p {
    margin: 0;
    margin-bottom: 15px;
}
.thx {
    font-size: x-large;
    color: #800000;
    width: 780px;
    text-align: center;
    height: 90px
}
.info-contact p {
    text-align: center;
    font-size: 11.0pt;
    font-family: Calibri, sans-serif;
    margin-bottom: .0001pt;
    font-weight: bold;
    width: 770px;
}
.btn-img {
    border-width:0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-field {
    height: 150px;
    width: 770.05px;
}
.info-input span {
    font-weight: bold;
}
.info-input input {
    width:400px;
}
.context {
    padding: 0px 30px 0px 30px;
}
.video {
    padding-top: 15px;
}
.welcome {
    width: 780px;
}
.menu2 {
    padding-left: 0px;
}
.menu6 {
    padding-left: 125px;
}
.menu5 {
    padding-left: 70px;
}
.menu4 {
    padding-left: 35px;
}
.menu3 {
    padding-left: 10px;
}
.table {
    display: table;
}
.col {
    position: relative;
    float: left;
}
.section {
    padding-right: 20px;
    padding-left: 20px;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.logoimg {
    width: 80%;
}
.img-welcome {
    padding-top: 50px;
}
.img-welcomeimg {
    width: 780px;
    height: 132px;
}
.parr {
    width: 780px;
    text-align: justify;
}
.parr2 {
    font-size: 15pt;
    line-height: 115%;
    text-align: justify;
    color: #632423;
}
.tit {
    font-size: 17pt;
    font-weight: bold;
    line-height: 115%;
    text-decoration: underline;
    color: #632423;
}
